@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Montserrat:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

body{
    background-color: #f6f6f6;
    position: relative;
    max-width: 1150px;
    margin:0 auto;
}
main{display: flex;}

header{
    display: flex;
    justify-content: space-between;
}
header .active{
    color: black;
}
header nav{
    position: relative;
    max-width: 1400px;
}

header nav ul{
    text-align: left;
}

header nav ul li{
    display: inline-block;
}


header nav a{
    display: block;
    padding: 15px 40px;
    text-decoration: none;
    color: #9F9F9F;
}

header nav a:hover{
    color:black;
    text-decoration: underline;
}

article{
    display: flex;
    margin-top: 30px;
    width: 70%;
}

.date{color:#9F9F9F;}

h2{
    font-family: Cardo;
    margin: 10px 0px;
}

article img{
    margin-right: 15px;
    width:250px;
    object-fit: cover;
}

.socials a img{padding: 15px;}

.image{width: 1150px;}

.categories{
    position: relative;
    padding: 10px;
}
.categories:after{
    position: absolute;
    content: "";
    background-color: #9F9F9F;
    width: 107px;
    height: 1px;
    top: 236px;
}

.categories ul{list-style: none;}

.categories li{margin: 10px 10px;}

.categories ul li a{
    color: #9F9F9F;
    display: block;
    text-decoration: none;
    font-size: 12px;
}

.categories ul li a:hover{
    color: #9F9F9F;
    text-decoration: underline;
}

@media screen and (max-width:375px){
    
header{
    display: block;
}

header nav {
        display: flex;
        justify-content: center;
    }
    
header nav ul{
    padding: 0;
}   

header nav a {
    padding: 15px 12px;
    }

header .socials {
    display: flex;
    justify-content: center;
    } 
    
.image{
    width: 100%;
}

article{
    position: relative;
    display: block;
}
article img{
    position: absolute;
    height: 98px;
}

article .date,article h2{
    position: absolute;
}
article h2{
    position: absolute;
    left: 0;
}

article .date{
    right: 0;

}
article p{

}

.categories{
    
}
}
