@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Montserrat:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

main{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
}

header{
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
}
header .active{
    color: black;
}
header nav{
    max-width: 1400px;
}

header nav ul{
    text-align: left;
}

header nav ul li{
    display: inline-block;
}

header nav a{
    display: block;
    padding: 1em 2.5em;
    text-decoration: none;
    color: #9F9F9F;
}

header nav a:hover{
    color:black;
}

.articles{
    text-align: justify;
}
article{
    display: flex;
    margin-top: 1.9em;
}

.date{color:#9F9F9F;}

h2{
    font-family: Cardo;
    margin: 0.6em 0px;
}

article img{
    margin-right: 1em;    
    object-fit: cover;
}

.socials a img{padding: 1em;}

.image{
    width:100%;
    object-fit: cover;
    height: 15.6em; 
}
aside{
    padding: 0.6em;
    margin-top: 1.5em;
    width: 400px;
    box-sizing: border-box;
}
.categorie:first-of-type:after{
    position: absolute;
    content: "";
    background-color: #9F9F9F;
    width: 6.7em;
    height: 1px;
}

.categorie:last-of-type{
    margin-top: 2.5em;
}

aside ul{list-style: none;}

aside li{margin: 0.6em 0.6em;}

aside ul li a{
    color: #9F9F9F;
    display: block;
    text-decoration: none;
    font-size: 1em;
}

aside ul li a:hover{
    color: #9F9F9F;
    text-decoration: underline;
}

@media screen and (max-width:1398px){
    .articles{
        padding-left: 1em;
    }
}

@media screen and (max-width:1300px){
    .texte{
        max-width: 600px;
    }

    main{
        display: block;
    }
    
    aside{
        display: flex;
        justify-content: space-around;
        width: 100%
    }

    .categorie{
        position: relative;
        margin-top: 40px;
    }
    .categorie:first-of-type:after{
        position: absolute;
        content: "";
        background-color: #9F9F9F;
        width: 1px;
        height: 13.7em;
        left: 169%;
        top: 3%;
        }

    aside{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0.26%, rgba(0, 0, 0, 0) 9.39%);
    }
}

@media screen and (max-width:794px){
    
    
    .categorie:first-of-type:after {
        position: absolute;
        content: "";
        background-color: #9F9F9F;
        width: 1px;
        height: 13.7em;
        left: 137%;
        top: 3%;
    }
}

@media screen and (max-width:708px){
    article{
        position: relative;
        display: block;
    }

    article img{
        width: 97%;
        height: 200px;
        margin-top: 48px;
    }

    h2{
        position: absolute;
        top: 0;
    }

    .date{
        position: absolute;
        top: 20px;
        right: 0px;
    }
}

@media screen and (max-width:688px){
    .categorie:first-of-type:after {
        position: absolute;
        content: "";
        background-color: #9F9F9F;
        width: 1px;
        height: 13.7em;
        left: 127%;
        top: 3%;
    }

    header {
        display:block;
    }

    .socials{
        margin: 0 auto;
        width: 104px;
    }
    
}

@media screen and (max-width:586px){
    .categorie:first-of-type:after {
        position: absolute;
        content: "";
        background-color: #9F9F9F;
        width: 1px;
        height: 13.7em;
        left: 111%;
        top: 3%;
    }

    header nav a{
        padding: 1em 2.3em;
        font-size: 14px;
    }
}

@media screen and (max-width:525px){
    aside{
        display: block;
        text-align: center;
    }

    .categorie:first-of-type:after{
        position: absolute;
        content: "";
        background-color: #9F9F9F;
        width: 14em;
        height: 1px;
        left: 28%;
        top: 111%;
    }

}

@media screen and (max-width:492px){
    header nav a {
        padding: 1em 1em;
        font-size: 14px;
    }

    .categorie:first-of-type:after{
        position: absolute;
        content: "";
        background-color: #9F9F9F;
        width: 14em;
        height: 1px;
        left: 25%;
        top: 111%;
    }
    
    header nav ul{
        display: flex;
        justify-content: space-around;
    }
}
@media screen and (max-width:410px){
    .date {
        position: absolute;
        top: 28px;
        right: 0px;
    }

    h2{
        position: absolute;
        bottom: 316px;
    }

    .texte{
        padding-top: 10px;
    }

    header nav ul{
        display: flex;
        justify-content: space-around;
    }
}